body{
  color:#E9E9E9;
  font-family:"Helvetica",Calibri,sans-serif;
  font-size:30px;
  background:#424242;
}
.button,ul.menu a{
  background:#FF9900;
  color:#E9E9E9;
  text-decoration:none;
  padding:20px;
  border-bottom:8px solid #DD6600;
  display:block;
  width:200px;
  text-align:center;
  text-shadow:1px 1px 1px rgba(255,255,255,.5);
}
.loneelement{
  margin-top:15%;
}
ul.menu{
  list-style-type:none;
}
ul.menu li{
  float:left;
  margin:0 10px;
}
ul.menu:after{
  content:"";
  width:0;
  height:0;
  clear:both;
  display:block;
}
